.k-icon-24 {
    font-size: 24px; /* Sets icon size to 32px */
}

.k-icon-32 {
    font-size: 32px; /* Sets icon size to 32px */
}

.k-icon-48 {
    font-size: 48px; /* Sets icon size to 48px */
}

.k-icon-64 {
    font-size: 64px; /* Sets icon size to 64px */
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.create-company {
  margin-bottom: 20px;
}

.create-company fieldset, .update-company fieldset  {
  padding: 20px;
}

.update-company fieldset p {
  margin: 0 0 10px;
}

.company-info {
  margin: 20px 0;
}

.company-update-form {
  margin: 20px 0;
}
